.header {
  height: 95vh; /* we take 95% of the viewport height */
  background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark) , url(../img/hero.jpg);
  background-size: cover; /* width of viewport you always try to fit the element inside of the box */
  background-position: bottom;
  /* background-positon */
  /* - top: moves to top when increasing width */
  /* - bottom: moves to bottom when increasing width */
  /* - center: moves to center when increasing width */

  /* specify gradients */

  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); /* clockwise polygon */

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem;
    /* browser will figure out the width */
  }

  &__text-box {
    position: absolute;
    /* GREAT TRICK */
    /* THESE ARE RELATIVE TO THE PARENT CONTAINER(.header) */
    top: 40%;
    left: 50%;
    /* CENTERING TRICK */
    transform: translate(-50%, -50%); /* its shifting 50% of the elements h/w to the top/bottom */
    
    text-align: center; /* centers the button a link  */
  }
}