*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /* so it doesn't fuck up other packages */
}


html {
  // defines what 1rem is
  font-size: 62.5%; /* root font-size for rems, px is bad practice, use precentages, default is 16 */
}

body {
  box-sizing: border-box;
}